.App {
  display: grid;
  height: calc(100vh - 6rem);
  width: 100vw;
  /* justify-content: space-around; */
}

@media (min-width: 799px) {
  .App {
    grid-template-columns: minmax(200px, 500px) minmax(400px, auto);
  }
}
